{% include "layout.html" %}

<!DOCTYPE html>
<html lang="en">
<style>
body {
  background-image: url('https://c.wallhere.com/photos/54/45/mountains_landscape_blue_nature_sky_snow_clouds_Mount_Everest-1381985.jpg!d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<head>
<title>About Me :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
<p> <b> <br>“Our deepest fear is not that we are inadequate.</br>
    <br>Our deepest fear is that we are powerful beyond measure.</br>
    <br>It is our light, not our darkness that most frightens us.</br>
    <br>We ask ourselves, 'Who am I to be brilliant, gorgeous, talented, fabulous?'</br>
    <br>Actually, who are you not to be? You are a child of God.</br>
    <br>Your playing small does not serve the world.</br>
    <br>There is nothing enlightened about shrinking so that other people won't feel insecure around you.</br>
    <br>We are all meant to shine, as children do. We were born to make manifest the glory of God that is within us.</br>
    <br>It's not just in some of us; it's in everyone.</br>
    <br>And as we let our own light shine, we unconsciously give other people permission to do the same.</br>
    <br>As we are liberated from our own fear, our presence automatically liberates others.”</br>
    <br>― Marianne Williamson</br></b></p>
</body>
</head>
</html>