{% include "layout.html" %}

<!DOCTYPE html>
<html lang="en">
<style>
body {
  background-image: url('https://c.wallhere.com/photos/54/45/mountains_landscape_blue_nature_sky_snow_clouds_Mount_Everest-1381985.jpg!d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<head>
<title>About Me :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
<h1>This app created by Tal Mizrahi on a Data Science Course in Naya Collage</h1>
</body>
</head>
</html>