<!doctype html>
<html lang="en">
  <head>
    <style>
     h1 {text-align: center;}
     p {text-align: center;}
     h5 {text-align: center;}

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/my.js"></script>
  </head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">To-Do List</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/" title="Home">Home</a>
        {% if not user_logged %}
          <a class="p-2 text-dark" href="/login">Log In</a>
          <a class="p-2 text-dark" href="/register">Register</a>
        <a class="p-2 text-dark" href="/todo_list">Make Your To-Do List!</a>
        <a class="p-2 text-dark" href="/about">About</a>
        {% else %}
          <a class="p-2 text-dark" href="/todo_list">To-Do Lists !</a>
          <a class="p-2 text-dark" href="/logout">Logout</a>
         <a class="p-2 text-dark" href="/about">About</a>
        {% endif %}
      </nav>
    </div>
    <div class="container">
    </div>
    <div>
    <h1 class="text-center">Welcome to To-Do List</h1>
    </div>
    <il></il>
    <!--    <h2>{random_quote()}</h2> -->

  </body>
<br></br>

        <b><p>Every one have a Dream.
          <br></br>
           I have created this app to help you the make Your Dreams to Come True!
          <br></br>
          Lists keeps up focus and our goal in our minds.
          <br></br>
          There are a lot of thing that I wish to accplish and I realized that..
          <br></br>
           if I don't make a list, it's hard to find a time to do them nowdays.
          <br></br>
          Hopefully you will find it useful for you to!

                                    <p/></b>
        <h5>Love, Tal</h5>

          </ul>

      {% block body %}
      {% endblock %}
</html>