<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<div class="wrap">
    <link rel="stylesheet" href="{{ url_for('static', filename='inspiration.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='inspiration.js') }}"></script>

  <span>Inspired by the buttons on <a href="https://quickdraw.withgoogle.com/" target="_blank">Google quickdraw</a></span>
  <button class="qd-btn" onClick="yeah()">NEVER</button>
  <button class="qd-btn blue" onClick="yeah()">GONNA</button>
  <button class="qd-btn pink" onClick="yeah()">GIVE</button>
  <button class="qd-btn yellow" onClick="yeah()">YOU</button>
  <button class="qd-btn green" onClick="yeah()">UP</button>
  <button class="qd-btn red" onClick="yeah()">NEVER</button>
  <button class="qd-btn light-blue" onClick="yeah()">GONNA</button>
  <button class="qd-btn black" onClick="yeah()">LET?</button>

</div>
</head>
<body>

</body>
</html>