{% include "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<title>Login</title>



<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<style>
body {
  background-image: url('https://c.wallhere.com/photos/54/45/mountains_landscape_blue_nature_sky_snow_clouds_Mount_Everest-1381985.jpg!d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>


    <div class="container">

      <form class="form-signin" method="POST" action="/login">
       <h1 style="color:white" class="form-signin-heading">Log In</h1>

        {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username,  placeholder="Username") }}
          {{ wtf.form_field(form.password,   placeholder="Password") }}
          {{ wtf.form_field(form.remember) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      </form>
    </div> <!-- /container -->
